*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 45px;
    font-weight: 900px;
}

.color-orange{
    color: #FD6E0A;
}

.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}

.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

.text-center{
    text-align: center;
}

/* main style */
header{
    background-color: #FFF8F3;
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left ,bottom right;
    padding-top: 50px;
}

nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav ul a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-content{
    max-width: 585px;
} 

.banner-content h2{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin-bottom: 5px;
}

.banner-content h1{
    font-size: 70px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

.banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;

}

.banner-img{
    max-width: 585px;
    vertical-align: middle;
}

#about,#skills,#resume{
    padding-top: 130px;
}

.about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 130px 150px;
}

.about-info{
    display: flex;
    justify-content: space-around;
}



.info-card h4{
    font-size: 17px;
}

/* #skills{
    padding-top: 130px;
} */

.skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    /* text-align: center; */
    /* background-color: #FFF8F3; */
    /* padding: 131px 156px; */
}

.skill-box{
    display: flex;
    gap: 24px;
}

.skill-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000027;
}

.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3{
    font-size: 30px;
    color: #181818;
    margin-bottom: 20px;
}

.skill-card p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

.resume-container{
    display: flex;
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    gap: 24px;
}

.section-title{
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}

.resume-card{
    max-width: 511px;
    margin-right: 47px;

}

.card-title{
    font-size: 25px;
    margin-bottom: 10px;
    color: #474747;
}
.card-info{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}
.card-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

hr{
    margin: 30px 0;
}

footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}

.footer-container{
    display: flex;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    gap: 116px;
}

.social{
    max-width: 562px;

}

.footer-container h2{
    color: #181818;
    font-size: 35px;
    margin-bottom: 20px;
}

.footer-container p{
    color: #474747;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
}

.icons a{
    margin-right: 24px;
}

.text input[type=text], .text input[type=email], textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}
